<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bttoy.btping">
    <!-- Bluetooth necessita dei permessi BT, BT_ADMIN e COARSE_LOCATION per funzionare con i beacons-->
    <!-- Servono FINE_LOCATION E BACKGROUND_LOCATION da Android 10+-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivityTest"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance">
            <!-- To use normal MainActivity, just change name here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BeaconService" android:exported="false"/>
        <!-- Same thing for the ScanningService -->
        <service
            android:name=".ScanningServiceTest"
            android:exported="false" />
    </application>

</manifest>